:root {
  --color1: rgb(251, 114, 114);
  /* jasna, ciepła czerwień */
  --color2: rgba(100, 150, 250, 1);
  /* miękka zieleń, taka „choinkowa” ale delikatna */
  --color3: #fac864ff;
  /* kremowo-złoty odcień, zamiast intensywnego złota */
  --color4: rgb(0, 0, 0);
  --color5: rgb(255, 255, 255);
  --color6: rgb(128, 128, 128);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--color3);
  background-image: url('../public/symbol-scatter-haikei.svg');
   background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; 
  min-height: 100vh;
}

.app {
  width: 60vw;
  margin: -0.5rem 0 0 -0.5rem;
  background: var(--color5);
  border: 3px solid #000000;
  box-shadow: 0.8rem 0.8rem 0 #000000;
  border-radius: 0.8rem;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .app {
    width: 90vw;
  }
  
}

.app .header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1em;
  font-weight: 900;
  width: 100%;
  height: 3rem;
  background: #ffffff;
  padding: 1rem 0 1rem 0.5rem;
  color: #000000;
  border-bottom: 3px solid #000000;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 1rem;
}

.button-container button.delete {
  background: var(--color1) !important;
}

.edit,
.delete,
.create,
.signout {
  padding: 5px 10px;
  margin: 10px;
  border: 3px solid #000000;
  box-shadow: 3px 3px 0 #000000;
  font-weight: 750;
  background: var(--color2);
  transition: all 0.3s ease;
  cursor: pointer;
}

.edit:hover,
.delete:hover,
.create:hover,
.signout:hover {
  translate: 1.5px 1.5px;
  box-shadow: 1.5px 1.5px 0 #000000;
  /* background: var(--color3);
  color:#000000; */
}

.edit:active,
.delete:active,
.create:active,
.signout:active {
  translate: 3px 3px;
  box-shadow: 0 0 0 #000000;
}

/* List header */
.list-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
}

.list-header h1 {
  font-size: 2em;
  color: #333;
  text-align: center;
  margin-left: 1rem;
}

.list-header h2 {
  font-size: 1em;
  padding-right: 0.5rem;
}

/* List item */
.list-item {
  width: 100%;
  margin: 0.7rem 0;
  border-radius: 0.7rem;
  /* box-shadow: rgba(0, 0, 0, 0.05) 0 4px 10px; */
  display: flex;
  justify-content: space-between;
}

.list-item .info-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly
}

.list-item .info-container .tick {
  margin: 0 1rem;
  cursor: pointer;
}

.list-item .info-container .tick path {
  fill: black;
}

.list-item .info-container .task-title {
  font-size: 1.2em;
  white-space: nowrap;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  min-width: 0;
}

/* Modal */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999
}

.modal {
  position: relative;
  width: 30rem;
  padding: 2rem;
  background-color: var(--color2);
  border: 3px solid #000000;
  border-radius: 1rem;
  box-shadow: 0.8rem 0.8rem 0 #000000;
  color: var(--color5);
}

.modal .form-title-container {
  text-align: center;
}

.modal .form-title-container button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.modal .form-title-container button:hover {
  transform: scale(1.2);
  color: rgb(255, 255, 255);
}

.modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.modal form label {
  margin: 0.4rem 0 0 0;
  font-weight: 600;
  font-size: 1.4rem;
}

form input {
  width: 70%;
  margin: 1rem 0;
  padding: 0.8rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
}

form input[type="range"] {
  width: 50%;
  margin: 1rem 0;
  padding: 0;
}

form input[type="submit"] {
  width: 40%;
  padding: 0.7rem;
  border: 3px solid #000000;
  box-shadow: 3px 3px 0 #000000;
  font-weight: 750;
  background: rgb(255, 255, 255);
  /* background: rgb(74, 222, 128);
  color: #fff; */
  cursor: pointer;
  transition: all 0.3s ease;
}

form input[type="submit"]:hover {
  translate: 1.5px 1.5px;
  box-shadow: 1.5px 1.5px 0 #000000;
}

/* Auth */
/* tło modala logowania */
.auth-container {
  position: fixed;
  inset: 0; /* top:0; right:0; bottom:0; left:0 */
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5); /* to Twoje „szare tło” */
  z-index: 9999;
}

/* sam niebieski panel z formularzem */
.auth-container-box {
  background: #6EA4FF; /* czy co tam masz */
  padding: 2rem;
  max-width: 600px;
  width: 90%;
   border: 3px solid #000000;
  border-radius: 1rem;
  box-shadow: 0.8rem 0.8rem 0 #000000;
}

.auth-container h2 {
  text-align: center;
}

.auth-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}

.auth-options {
  position: relative;
  display: flex;
}

.auth-options button {
  padding: 0.7rem 1rem;
  border: 3px solid #000000;
  border-radius: 0.3rem;
  box-shadow: 3px 3px 0 #000000;
  font-weight: 750;
  background: var(--color2);
  cursor: pointer;
  transition: all 0.3s ease;
}

.auth-options button:hover {
  translate: 1.5px 1.5px;
  box-shadow: 1.5px 1.5px 0 #000000;
}

.auth-options button:active {
  translate: 3px 3px;
  box-shadow: 0 0 0 #000000;
}

.copyright {
  font-size: 0.8rem;
  color: var(--color6);
  margin: 1rem;
}

.user-email {
  float: left;
  font-size: 1rem;
  font-weight: 600;
  color: var(--color4);
  margin: 0.9rem;
}

/* Progress Bar */
.outer-bar {
  width: 100%;
  height: 1.5rem;
  margin-left: 1rem;
  /* width: 12.5rem;
  height: 1.5rem; */
  border: 2px solid #000000;
  box-shadow: 3px 3px 0 #000000;
  background-color: var(--color5);
  border-radius: 0.7rem;
  overflow: hidden;
}

.inner-bar {
  height: 100%;
  background-color: var(--color2);
}

.task-title {
  width: 20rem;
}