html,
body {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  /* background-color: aliceblue; */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  --color: rgb(74, 222, 128);
  background: linear-gradient(45deg, var(--color) 25%, transparent 25%) -50px 0,
    linear-gradient(-45deg, var(--color) 25%, transparent 25%) -50px 0,
    linear-gradient(45deg, transparent 75%, var(--color) 75%) -50px 0,
    linear-gradient(-45deg, transparent 75%, var(--color) 75%) -50px 0;
  background-color: rgba(255, 102, 163, 1);
  background-size: 2.4rem 10rem;
}

.app {
  width: 70vw;
  margin: -0.5rem 0 0 -0.5rem;
  background: rgb(255, 102, 163);
  border: 3px solid #000000;
  box-shadow: 0.8rem 0.8rem 0 #000000;
  overflow: hidden;
  /* Możesz to zmienić na clip-path, jeśli konieczne */
}

.app .header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1em;
  font-weight: 900;
  width: 100%;
  height: 3rem;
  background: #ffffff;
  padding: 0.5rem 1rem;
  color: #000000;
  border-bottom: 3px solid #000000;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 1rem;
}

.edit,
.delete,
.create,
.signout {
  padding: 5px 10px;
  margin: 10px;
  border: 3px solid #000000;
  box-shadow: 3px 3px 0 #000000;
  font-weight: 750;
  background: rgb(74, 222, 128);
  transition: all 0.3s ease;
  cursor: pointer;
}

.edit:hover,
.delete:hover,
.create:hover,
.signout:hover {
  translate: 1.5px 1.5px;
  box-shadow: 1.5px 1.5px 0 #000000;
  /* background: rgb(26, 194, 255); */
  background: rgb(250, 167, 216);
}

.edit:active,
.delete:active,
.create:active,
.signout:active {
  translate: 3px 3px;
  box-shadow: 0 0 0 #000000;
}

/* List header */
.list-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
}

.list-header h1 {
  font-size: 2em;
  color: #333;
}

/* List item */
.list-item {
  width: 100%;
  margin: 0.7rem 0;
  border-radius: 0.7rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0 4px 10px;
  display: flex;
  justify-content: space-between;
}

.list-item .info-container {
  display: flex;
}

.list-item .info-container .task-title {
  font-size: 1.2em;
  white-space: nowrap;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  min-width: 0;
}

.list-item .info-container .tick {
  transform: scale(0.5);
  margin-right: 1rem;
}

.tick-1 {
  fill: #fff;
  opacity: 0;
}

.tick-2 {
  fill: #231f20;
}

/* Modal */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999
}

.modal {
  position: relative;
  width: 30rem;
  padding: 2rem;
  background: rgb(255, 102, 163);
  border: 3px solid #000000;
  border-radius: 1rem;
  box-shadow: 0.8rem 0.8rem 0 #000000;
  /* display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center; */
}

.modal .form-title-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  /* Wyśrodkowanie nagłówka */
}

.modal .form-title-container button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.modal .form-title-container button:hover {
  transform: scale(1.2);
  color: rgb(255, 255, 255);
}

.modal form {
  display: flex;
  flex-direction: column;
  align-items: center; 
  height: 100%;
}
.modal form label {
  margin: 0.5rem 0;
  font-weight: 600;
}

form input {
  width: 100%;
  margin: 1rem 0;
  padding: 0.8rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.modal input[type="range"] {
  -webkit-appearance: none;
  width: 90%;
  height: 0.4rem; 
  background: linear-gradient(
    to right,
    rgb(74, 222, 128) 50%,
    rgb(255, 255, 255) 50% 
  );
  border-radius: 0.25rem; 
  outline: none;
  opacity: 1;
  transition: background 0.3s ease;
  margin: 1rem auto;
}

.modal input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2.5rem; 
  height: 2.5rem; 
  background: rgb(255, 182, 193); 
  /* border: 3px solid black;  */
  border-radius: 50%; 
  cursor: pointer;
  transition: transform 0.2s ease;
}

.modal input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.2); 
  background: rgb(255, 150, 170); 
}

.modal input[type="range"]::-moz-range-thumb {
  width: 2.5rem; 
  height: 2.5rem; 
  background: rgb(255, 182, 193); 
  border: none; 
  border-radius: 50%; 
  cursor: pointer;
  transition: transform 0.2s ease;
}

.modal input[type="range"]::-moz-range-thumb:hover {
  transform: scale(1.2); 
  background: rgb(255, 150, 170); 
}

form input[type="submit"] {
  width: 50%;
  padding: 0.7rem;
  border: 3px solid #000000;
  box-shadow: 3px 3px 0 #000000;
  font-weight: 750;
  background: rgb(255,255,255);
  /* background: rgb(74, 222, 128);
  color: #fff; */
  cursor: pointer;
  transition: all 0.3s ease;
}

form input[type="submit"]:hover {
  translate: 1.5px 1.5px;
  box-shadow: 1.5px 1.5px 0 #000000;
  background: rgb(50, 200, 100);
}