body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
  background-color: aliceblue;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.app {
  width: 80vw;
  margin: 3.5rem auto;
  padding: 1rem;
  background: rgb(255, 255, 255);
  box-shadow: 0 0.3rem 1.5rem rgba(0, 0, 0, 0.05), 0 0 0.1rem rgba(0, 0, 0, 0.08);
  border-radius: 1rem;

}
.button-container {
  display: flex;
  align-items: center;
}
.button-container button{
  margin: 0 0.3rem;
  padding: 0.3rem 0.6rem;
  border-radius: 0.7rem;
  background-color: transparent;
  cursor: pointer;
  font-size: 0.8em;
}

/* List header */
.list-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
}
.list-header h1 {
  font-size: 2em;
  color: #333;
}
/* List item */
.list-item {
  width: 100%;
  margin: 0.7rem 0;
  border-radius: 0.7rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0 4px 10px;
  display: flex;
  justify-content: space-between;
}
.list-item p {
  font-size: 1.2em;
  color: #555;
}


