body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
  background-color: aliceblue;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  
  width: 100%;
  height: 100%;
  --color: rgb(250, 167, 216);
  background: linear-gradient(45deg, var(--color) 25%, transparent 25%) -50px 0,
        linear-gradient(-45deg, var(--color) 25%, transparent 25%) -50px 0,
        linear-gradient(45deg, transparent 75%, var(--color) 75%) -50px 0,
        linear-gradient(-45deg, transparent 75%, var(--color) 75%) -50px 0;
  background-color: #e5e5f7;
  background-size: 1.2rem 5rem;
}

.app {
  width: 80vw;
  margin: 3.5rem auto;
  padding: 1rem;
  background: rgb(255, 255, 255);
  box-shadow: 0 0.3rem 1.5rem rgba(0, 0, 0, 0.05), 0 0 0.1rem rgba(0, 0, 0, 0.08);
  border-radius: 1rem;
}
.app .header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button-container {
  display: flex;
  align-items: center;
}
.button-container button{
  margin: 0 0.3rem;
  padding: 0.3rem 0.6rem;
  border-radius: 0.7rem;
  background-color: transparent;
  cursor: pointer;
  font-size: 0.8em;
}

/* List header */
.list-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
}
.list-header h1 {
  font-size: 2em;
  color: #333;
}
/* List item */
.list-item {
  width: 100%;
  margin: 0.7rem 0;
  border-radius: 0.7rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0 4px 10px;
  display: flex;
  justify-content: space-between;
}
.list-item .info-container {
  display: flex;
  /* align-items: center; */
}
.list-item .info-container .task-title {
  font-size: 1.2em;
  white-space: nowrap;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  min-width: 0;
}

.list-item .info-container .tick {
  transform: scale(0.5);
  margin-right: 1rem;
}
.tick-1 {
  fill:#fff;
  opacity:0;
}
.tick-2 {
  fill:#231f20;
}



